/* Roboto: light 300, regular 400, bold 700 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 1.7rem;
    color: rgb(89, 89, 89);
}

/* ------------------------------Navigation bar------------------------------ */

#nav-bar {
    display: flex;
    width: 100%;
    height: 70px;
    padding: 2% 3%;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    transition-property: height, background-color;
    transition: 0.5s ease;
    background-color: white;
    transition: 0.5s ease;
    /* box-shadow: 0px 1px 15px 1px #bababa; */
}

#hero nav.active {
    box-shadow: 0px 1px 15px 1px #bababa;
    transition: box-shadow 0.5s ease;
}

nav img {
    width: 200px;
}

/* ------------------------------Hero section------------------------------ */

.hero-header {
    width: 100%;
    height: calc(70px + 300px);
    margin-bottom: 15px;
    position: relative;
    background-color: #001220;
}

.hero-header h1 {
    color: white;
    letter-spacing: 0.6rem;
    font-size: 6rem;
    position: absolute;
    top: calc(50%);
    left: 50%;
    transform: translate(-50%, -30%);
}

/* ------------------------------Project description------------------------------ */
/* ---------------Content--------------- */
.content {
    flex-basis: 75%;
    /* background-color: #a8b8d8; */
}

.content h2 {
    font-size: 3rem;
    padding-top: 25px;
    margin-bottom: 10px;
}

.content h3 {
    font-size: 2rem;
    padding-top: 5px;
    margin-bottom: 5px;
}

.content p {
    font-size: 1.5rem;
    padding-top: 5px;
    margin-bottom: 8px;
}

/* ---------------Table of content--------------- */
.container {
    width: 85%;
    /* height: 200px; */
    margin: auto;
    /* background-color: black; */
}

.pj-des {
    display: flex;
}



.table-of-content {
    flex-basis: 25%;
    /* background-color: #718570; */
}

.toc a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 3% 8%;
    border-left: 2px solid rgba(16, 242, 242, 0);
}

.toc a:hover {
    color: rgb(16, 242, 242);
    border-left: 2px solid rgb(16, 242, 242);
}

nav.toc {
    width: 80%;
    margin: 0 auto;
    padding-top: 25px;
    font-size: 1.2rem;
}

.li-header {
    font-weight: 700;
}

.nested-li {
    color: gray
}

ul > li {
    margin: 8px;
}

li > ul {
    margin-left: 30px;
}

.toc ul li {
    /* color: black; */
    list-style-type: none;
}
