/* Roboto: light 300, regular 400, bold 700 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 1.7rem;
    color: gray;
}

/* ------------------------------Navigation bar------------------------------ */
#nav-bar {
    display: flex;
    width: 100%;
    padding: 2% 3%;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    height: 100px;
    transition-property: height, background-color;
    transition: 0.5s ease;
    /* background-color: green; */
}

#hero nav.compact {
    background-color: white;
    /* border-bottom: 1px solid #8d8d8d; */
    height: 70px;
    box-shadow: 0px 1px 15px 1px #bababa;
    transition-property: height, background-color;
    transition: 0.5s ease;
}

nav img {
    width: 200px;
}

#list-bar ul li {
    font-size: 1.5rem;
    list-style-type: none;
    display: inline-block;
    padding: 10px 30px;
}

#list-bar ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #ea3c69;
    display: block;
    margin: auto;
    transition: 0.3s;
}

#list-bar ul li:hover::after {
    width: 100%;
    transition: 0.3s;
}

#list-bar ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.2s ease-out;
}

#list-bar ul li a.compact {
    color: black;
    transition: color 0.2s ease;
}

#list-bar ul li a:hover {
    color: #ea3c69;
    transition: 0.2s ease-in;
}

/* ------------------------------Hero section------------------------------ */
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 8%;
}

#hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
        url("../resources/images/Main page/young-man-sportswear-exercise-class-gym.jpg");
    background-size: cover;
    background-position: top center;
}

#hero h1 {
    color: white;
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
}

#hero .fom {
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    color: crimson;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1rem;
    transition: 0.3s ease-out ;
    transition-property: background-color, color;
}

#hero .fom:hover {
    background-color: crimson;
    color: white;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-property: background-color, color;
}

/* ------------------------------member section------------------------------ */
.center-p {
    text-align: center;
    padding-top: 15px;
    margin-bottom: 10px;
}

.member-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    /* background-color: #ea3c69; */
}

.member-slide {
    display: flex;
    height: 80%;
    /* overflow: hidden; */
    /* background-color: green; */
}

.header-block {
    height: 20%;
}

.header{
    text-align: center;
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 300;
    padding: 15px;
    letter-spacing: 7px;
}

.slide-item {
    /* position: relative; */
    display: flex;
    align-items: center;
    min-width: 100%;
    max-height: 500px;
    padding: 0 3%;
    /* display: inline-block; */
    /* background-color: blue; */
}

.col h1,.col h2, .bio-link {
    /* background-color: aliceblue; */
    margin: 5px;
    height: fit-content;
    font-weight: 400;
    width: 100%;
}

.cover h1 {
    font-size: 2rem;
}

.bio-link {
    font-size: 2rem;
    color: #f9235c;
    transition: color 0.1s ease-in;
}

.bio-link a {
    text-decoration: none;
    color: inherit;
}

.bio-link a i {
    margin: 2px 5px;
    cursor: pointer;
}

.bio-link a i:hover {
    color: #ba1e48;
    transition: color 0.1s ease-out;
}

span {
    color: #f9235c;
}

.bg-cover img {
    z-index: 3;
    width: 95%;
    height: 95%;
    border-radius: 50%;
    object-fit: cover;
}

.bg-cover {
    z-index: 2;
    display: flex;
    width: 250px;
    height: 250px;
    justify-content: center;
    align-items: center;
    background-color: #ea3c69;
    box-shadow: 2px 2px 6px 1px rgb(98, 98, 98);
    border-radius: 50%;
    margin-bottom: 5px;
}

.col {
    /* background-color: aquamarine; */
    display: flex;
    flex-wrap: wrap;
    
}

.cover {
    justify-content: center;
    text-align: center;
    flex-basis: 30%;
}

.info {
    flex-basis: 70%;
}

.info p {
    padding: 0 6% 0 1%;
}

#prev-button, #next-button {
    font-size: 5rem;
    color: rgb(157, 157, 157);
    position: absolute;
    cursor: pointer;
    transition: color 0.3s ease;
}

#prev-button {
    top: 50%;
    transform: translate(0, -50%);
    left: 1.5%;
}

#prev-button:hover {
    color: rgb(95, 95, 95);
    transition: color 0.3s ease;
}

#next-button {
    top: 50%;
    transform: translate(0, -50%);
    right: 1.5%;
}

#next-button:hover {
    color: rgb(95, 95, 95);
    transition: color 0.3s ease;
}

/* ---------------member info--------------- */
.member-info {
    width: 100%;
    background-color: #001220;
    position: relative;
}

.member-info .container-v2 *{
    color: white;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 12px;
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layered-wave {
    background-image: url("../resources/images/transition/layered-waves-haikei-2.svg");
}

.layered-wave-out {
    background-image: url(../resources/images/transition/layered-waves-haikei-3.svg);
}

.tooltip {
    position: relative;
}

.tooltip em{
    border-bottom: 1px dotted black; /*If you want dots under the hoverable text; */
}

.tooltip .tooltiptext {
    visibility: hidden;
    /* width: 120px; */
    background-color: rgb(24, 18, 26);
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
   
    /* Position the tooltip text*/
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, 0px);
    z-index: 1;
  }

.tooltiptext.visible {
    visibility: visible;
  }

.subheader{
    font-size: 3.5rem;
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.3rem;
    padding-top: 10px;
    margin-bottom: 10px;
}

.tab_content {
    display: none;
}

.tab_content.tab-active {
    display: block;
}


/* ------------------------------Project section------------------------------ */
.container-v2 {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.pj-body a {
    display: inline-block;
    font-size: 1.7rem;
    text-decoration: none;
    color: white;
    padding: 1% 1.6%;
    margin-bottom: 15px;
    letter-spacing: 4px;
    border-radius: 35px;
    background: rgb(226,20,83);
    background: linear-gradient(45deg, rgba(226,20,83,1) 0%, rgba(218,81,51,1) 100%);
}


.center {
    text-align: center;
}

.center p{
    margin: 2rem;
}

/* ------------------------------Footer section------------------------------ */
footer{
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0; */
    background: #111;
    height: auto;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 40px;
    margin-top: 12px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /* margin-top: 12px; */
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 25px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 2rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: rgb(239, 35, 66);
}

.footer-bottom{
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}


/* Don't mind this */
/* <a href="https://www.freepik.com/free-photo/young-man-sportswear-exercise-class-gym_4833325.htm#query=fitness&position=0&from_view=search&track=sph">Image by jcomp</a> on Freepik */